.container-grid {
  display: grid;
  grid-template-columns: auto 250px 250px 250px auto;
  grid-template-rows: 75px 250px 250px 75px;
  background-color: white;
  padding: 20px;
}
.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: red;
}
.dev-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-size: 4em;
  padding: 20px;
}
