.container-exersize {
  display: grid;
  grid-template-columns: auto 250px 250px 250px auto;
  grid-template-rows: 75px 250px 250px 75px;
  background-color: pink;
}
.header-exersize {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  color: blue;
  font-size: 2em;
}
.item-1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: red;
}
.item-2 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: green;
}
.item-3 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  background-color: orange;
}
.item-4-5 {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50px auto;
  grid-column: 2 / span 2;
  grid-row: 3 / 4;
  background-color: purple;
  opacity: 0.5;
}
.item-6 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  background-color: yellow;
}
.item-a {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  background-color: powderblue;
}
.item-b {
  grid-column: 2 / span 2;
  grid-row: 2 / 3;
  background-color: powderblue;
}
