/*----------------
modules
-----------------*/

#navbar_plus
{
	background: #2F2F4F;
	border: 0;
 	margin: 0;
	padding: 5px;
	height: 50px;
}

.footer
{
	background: #2F2F4F;
	border: 0;
 	margin: 0;
	padding: 5em;
}

.thumbnail_layout_right
{
	float: right;
	size: auto;
}

.thumbnail_layout_left
{
	float: left;
	size: auto;
}
