.container-grid {
  display: grid;
  grid-template-columns: auto 250px 250px 250px auto;
  grid-template-rows: 75px 250px 250px 75px;
  background-color: white;
  padding: 20px;
}
.header--projects {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: orange;
  color: #fff;
  text-align: center;
}
.box-1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: red;
}
.box-2 {
  /*grid-area: 2 / 3 / 3 / 4;*/
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: pink;
}
