.container-sample {
  display: grid;
  grid-template-columns: auto 250px 250px 250px auto;
  grid-template-rows: 75px 250px 250px 75px;
  background-color: #f1f1f1;
  padding: 40px;
}

/*.container-sample {
  display: grid;
  grid-template-columns: auto 250px 250px 250px auto;
  grid-template-rows: 75px 250px 250px 75px;
  background-color: #f1f1f1;
  padding: 40px;
}*/

.header-sample {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #f1f1f1;
}

.header-sample p {
  color: #2F2F4F;
  font-size: 3em;
  text-align: center;
}

.aside-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  background-color: #f1f1f1;
}

.aside-2 {
  grid-column: 5 / 6;
  grid-row: 1 / 5;
  background-color: #f1f1f1;
}

.proj-upper-1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: orange;
}

.proj-upper-2 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: red;
}

.proj-upper-3 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  background-color: purple;
}

.proj-lower-1 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: lightgreen;
}

.proj-lower-2 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: lavender;
}

.proj-lower-3 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  background-color: pink;
}


@media query (max....)
  25% for each squares
  have minimum on the cards

  .cards {
    width-min: 25px;
  }


is there a grid min and max ...
